.modal {
  background-color: white;
  width: 80%;
  max-width: 500px;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  border-radius: 10px;
}

.modal-title {
  background-color: red;
  color: white;
  width: 100%;
  padding: 10px;
  font-weight: bold;
}

.modal-content {
  width: 100%;
  margin: 10px;
}

.modal button {
  margin: 10px 10px 10px auto;
  background-color: red;
  font-weight: bold;
}

.backdrop {
  background-color: black;
  opacity: 0.5;
  position: absolute;
  top: 0%;
  left: 0%;
  height: 100vh;
  width: 100vw;
}
